@import './base.css';

:root {
	--color-white: #fff;
	--color-black-1: #000000;
	--color-black-2: #2d3748;
	--color-purple-1: #17001e;
	--color-green-1: #008542;
	--color-gray-1: #a0aec0;

	--color-cazeus: #0f1525;
	--color-r2pbet: #163351;
	--color-basswin: #0e2c2e;
	--color-fatpirate: #5b3824;
	--color-memocasino: #161618;
	--color-kinghills: #163d8c;
	--color-amonbet: #000000;
	--color-gransino: #000000;
	--color-heyspin: #000000;
	--color-jokabet: #1e2132;
	--color-rolletto: #1e2132;
	--color-tikitaka: #000000;
	--color-velobet: #000000;
	--color-ninewin: #070e28;
	--color-f7casino: #000000;
	--color-loki: #213043;
	--color-tikitaka: #000000;
	--color-gransino: #000000;
	--color-cosmobet: #101113;
	--color-goldenmister: #001553;
	--color-bountyreels: #00013a;
	--color-luckymister: #000000;
	--color-verywell: #000031;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;
}

/* REUSED STYLES */
.bg-img-1 {
	width: 100%;
	background-image: url(../images/money.png);
	background-repeat: repeat;
	background-size: 33%;
	background-color: var(--color-purple-1);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.game-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.game-rating__stars {
    display: flex;
    gap: 5px;
}
.game-rating__star {
    width: 24px;
    height: 24px;
}
.game-rating__text {
	color: var(--color-black-2);
    font-size: var(--fontSize-20);
    font-weight: var(--weight-bold);
}
.casino-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-green-1);
	font-weight: var(--weight-bold);
	color: var(--color-white);
	padding: 15px;
	border-radius: 5px;
}
.policy-links {

}
.policy-links__link {
	
}

/* HEADER */
.header {
	background-color: var(--color-black-1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.header__container {
	width: min(1200px, 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	color: var(--color-white);
	font-family: 'Courier New', Courier, monospace;
}
.header__nav {
	display: flex;
	align-items: center;
	gap: 30px;
}
.header__nav-link {
	color: var(--color-white);
}
.header__languages {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__language {
	color: var(--color-white);
	font-weight: var(--weight-bold);
	position: relative;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header__language svg {
	position: absolute;
	left: 0;
	top: -50%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
}
.header__language path {
	transition: stroke-dashoffset 300ms linear;
	stroke-width: 1;
	stroke: gold;
	fill: none;
	stroke-linecap: round;
}
.header__language:active path {
	stroke-dashoffset: 0;
}

/* MAIN */
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MAIN -> BEST-GAMES */

.best-games {
	width: min(1200px, 100%);
	padding: 40px 0 0 0;
}
.best-games__games {
	width: 100%;
	display: flex;
	align-items: stretch;
	gap: 20px;
}
.best-games__game {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc((100% - 40px) / 3);
	background-color: var(--color-white);
	padding: 20px;
	border-radius: 10px;
	gap: 15px;
}
.best-games__game-logo {
	width: 100%;
	height: 180px;
}
.best-games__game-name {
	color: var(--color-black-2);
	font-size: var(--fontSize-24);
}
.best-games__game-bonus {
	color: var(--color-black-2);
	font-size: var(--fontSize-20);
	font-weight: var(--weight-bold);
}
.best-games__advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.best-games__advantage {
	display: flex;
	align-items: center;
	gap: 10px;
}
.best-games__advantage-icon {
	width: 24px;
	height: 24px;
}
.best-games__advantage-text {
	color: var(--color-black-2);
}

/* MAIN -> GAMES */
.games {
	width: min(1200px, 100%);
	padding: 40px 0 0 0;
}
.games__games {
}

/* FOOTER */

/* MEDIA */
@media (max-width: 1200px) {
}
@media (max-width: 960px) {
}
@media (max-width: 720px) {
}
@media (max-width: 540px) {
}
@media (max-width: 420px) {
}
