@import './base.css';

:root {
	--color-white: #fff;
	--color-black-1: #000000;

    --fontSize-12: 12px;
    --fontSize-14: 14px;
    --fontSize-16: 16px;
    --fontSize-20: 20px;
    --fontSize-24: 24px;
    --fontSize-32: 32px;

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-black: 900;
}

/* REUSED STYLES */

/* HEADER */
.header {
	background-color: var(--color-black-1);
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 20px;
}
.header__container {
	width: min(1200px, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: var(--color-white);
    font-family:'Courier New', Courier, monospace;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__nav-link {
    color: var(--color-white);
}
.header__languages {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__language {

}

/* MAIN */

/* FOOTER */

/* MEDIA */
@media (max-width: 1200px) {
}
@media (max-width: 960px) {
}
@media (max-width: 720px) {
}
@media (max-width: 540px) {
}
@media (max-width: 420px) {
}
