@import './base.css';

:root {
	--color-white: #fff;
	--color-black-1: #000000;
	--color-black-2: #2d3748;
	--color-black-3: #20282e;
	--color-translucent-1: rgba(15, 13, 13, 0.7);
	--color-purple-1: #17001e;
	--color-green-1: #008542;
	--color-gray-1: #a0aec0;
	--color-gray-2: #f1f1f1;

	--color-cazeus: #0f1525;
	--color-r2pbet: #163351;
	--color-basswin: #0e2c2e;
	--color-fatpirate: #5b3824;
	--color-memocasino: #161618;
	--color-kinghills: #163d8c;
	--color-amonbet: #000000;
	--color-gransino: #000000;
	--color-heyspin: #000000;
	--color-jokabet: #1e2132;
	--color-rolletto: #1e2132;
	--color-tikitaka: #000000;
	--color-velobet: #000000;
	--color-ninewin: #070e28;
	--color-f7casino: #000000;
	--color-loki: #213043;
	--color-tikitaka: #000000;
	--color-gransino: #000000;
	--color-cosmobet: #101113;
	--color-goldenmister: #001553;
	--color-bountyreels: #00013a;
	--color-luckymister: #000000;
	--color-verywell: #000031;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;
}

/* REUSED STYLES */
.bg-img-1 {
	width: 100%;
	background-image: url(../images/money.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 33%;
	background-color: var(--color-purple-1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
}
.bg-img-2 {
	width: 100%;
	background-image: url(../images/casino.jpg);
	background-attachment: fixed;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 20px;
}
.game-rating {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 8px;
	width: 100%;
}
.game-rating__stars {
	display: flex;
	gap: 5px;
}
.game-rating__star {
	width: 24px;
	height: 24px;
}
.game-rating__text {
	color: var(--color-gray-1);
	font-size: var(--fontSize-20);
	font-weight: var(--weight-bold);
	text-wrap: nowrap;
}
.casino-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-green-1);
	font-weight: var(--weight-bold);
	color: var(--color-white);
	padding: 15px;
	border-radius: 5px;
}
.policy-links {
	display: flex;
	gap: 10px;
}
.policy-links__link {
	color: var(--color-gray-1);
}
.copyright {
	color: var(--color-white);
}

/* HEADER */
.header {
	background-color: var(--color-black-1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: relative;
}
.header__container {
	width: min(1200px, 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	color: var(--color-white);
	font-family: 'Courier New', Courier, monospace;
}
.header__nav {
	display: flex;
	align-items: center;
	gap: 30px;
	transition: transform 200ms ease;
}
.header__nav.active {
	transform: translateX(100%);
}
.header__nav-link {
	color: var(--color-white);
}
.header__languages {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__language {
	color: var(--color-white);
	font-weight: var(--weight-bold);
	position: relative;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header__language button {
	color: var(--color-white);
}
.header__language svg {
	position: absolute;
	left: 0;
	top: -50%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
}
.header__language path {
	transition: stroke-dashoffset 300ms linear;
	stroke-width: 1;
	stroke: gold;
	fill: none;
	stroke-linecap: round;
}
.header__language:active path {
	stroke-dashoffset: 0;
}
.header__nav-btn-line {
	height: 3px;
	margin-block: 4px;
	background: var(--color-white);
	transition: transform 200ms ease, width 200ms ease;
}
.header__nav-btn {
	display: none;
}
.header__nav-btn-line--1 {
	margin-inline-start: auto;
	width: 20px;
}
.header__nav-btn-line--2 {
	width: 15px;
}
.header__nav-btn-line--3 {
	width: 10px;
}

.header__nav-btn.active .header__nav-btn-line--2 {
	width: 0;
}
.header__nav-btn.active .header__nav-btn-line--1 {
	transform: translate(0px, 7px) rotate(45deg);
}
.header__nav-btn.active .header__nav-btn-line--3 {
	transform: translate(5px, -7px) rotate(-45deg) scaleX(2);
}

/* MAIN */
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MAIN -> BEST-GAMES */
.best-games {
	width: min(1200px, 100%);
	padding: 40px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.best-games__games {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}
.best-games__description {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding-bottom: 10px;
}
.best-games__title {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.best-games__img {
	width: 40px;
	height: 40px;
}
.best-games__disclaimer {
	color: var(--color-white);
	font-weight: var(--weight-bold);
	background-color: red;
	width: max-content;
	max-width: 100%;
}
.best-games__pros {
	display: flex;
	align-items: center;
	gap: 10px;
}
.best-games__pro {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--color-white);
	font-weight: var(--weight-semibold);
}
.best-games__pro-icon {
	width: 52px;
	height: 52px;
}
.best-games__text {
	color: var(--color-white);
	font-size: var(--fontSize-14);
}
.best-games__game {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc((100% - 40px) / 3);
	background-color: var(--color-white);
	padding: 20px;
	border-radius: 10px;
	gap: 15px;
}
.best-games__game-logo {
	width: 100%;
	height: 180px;
	object-fit: contain;
	border-radius: 5px;
}
.best-games__game-name {
	color: var(--color-black-2);
	font-size: var(--fontSize-24);
}
.best-games__game-bonus {
	color: var(--color-black-2);
	font-size: var(--fontSize-20);
	font-weight: var(--weight-bold);
	text-transform: uppercase;
	text-align: center;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.best-games__advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.best-games__advantage {
	display: flex;
	align-items: center;
	gap: 5px;
}
.best-games__advantage-icon {
	width: 24px;
	height: 24px;
}
.best-games__advantage-text {
	color: var(--color-black-2);
	max-width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.casino-link--best-games {
	margin-top: auto;
}

/* MAIN -> GAMES */
.games {
	width: min(1200px, 100%);
	padding: 40px 0 40px 0;
}
.games__games {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.games__description {
	padding-bottom: 10px;
}
.games__title {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.games__img {
	width: 40px;
	height: 40px;
}
.games__game {
	display: grid;
	grid-template-columns: 240px 3fr 1fr;
	gap: 10px;
	align-items: center;
	background-color: var(--color-white);
	border-radius: 10px;
	overflow: hidden;
}
.games__game-logo-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.games__game-logo {
	width: 100%;
	height: 160px;
	object-fit: contain;
	padding: 10px;
}
.games__game-info {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	gap: 12px;
}
.games__game-name {
	font-size: var(--fontSize-16);
	color: var(--color-gray-1);
}
.games__game-bonus {
	font-size: var(--fontSize-20);
	color: var(--color-black-2);
	text-transform: uppercase;
}
.games__game-payments {
	display: flex;
	gap: 10px;
	padding: 6px 0;
	border-bottom: 1px solid var(--color-gray-1);
	border-top: 1px solid var(--color-gray-1);
}
.games__game-payment {
	height: 20px;
}
.games__advantages {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding-top: 10px;
}
.games__advantage {
	display: flex;
	align-items: center;
	gap: 5px;
}
.games__advantage-icon {
	width: 24px;
	height: 24px;
}
.games__advantage-text {
	color: var(--color-black-2);
}
.games__game-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 0 20px;
}

/* MAIN -> FAST-PAYMENTS */
.fast-payments {
	padding: 40px 20px;
	width: 100%;
	background-color: var(--color-gray-2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fast-payments__container {
	width: min(1000px, 100%);
	background-color: var(--color-white);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.fast-payments__header-container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.fast-payments__logo {
	width: 50px;
	height: 50px;
	padding: 5px;
	background-color: var(--color-gray-1);
	border-radius: 5px;
}
.fast-payments__title {
	color: var(--color-black-2);
	font-size: var(--fontSize-32);
	text-transform: uppercase;
}
.fast-payments__payments {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 0 40px;
}
.fast-payments__payment {
	height: 40px;
}
.fast-payments__advantages {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.fast-payments__advantage {
	display: flex;
	gap: 10px;
	color: var(--color-black-2);
}
.fast-payments__advantage-icon {
	width: 24px;
	height: 24px;
}
.fast-payments__strong-text {
	font-weight: var(--weight-bold);
}
.fast-payments__text {
	line-height: 1.3;
}

/* MAIN -> ABOUT-US */
.about-us {
	width: 100%;
	background-color: var(--color-gray-2);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 20px 40px 20px;
}
.about-us__container {
	width: min(1000px, 100%);
	background-color: var(--color-white);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.about-us__logo {
	width: 200px;
	background-color: var(--color-gray-1);
	padding: 30px;
	border-radius: 20px;
}
.about-us__title {
	font-size: var(--fontSize-32);
	color: var(--color-black-2);
	margin-bottom: 1rem;
}
.about-us__text {
	line-height: 1.3;
	color: var(--color-black-2);
	margin-bottom: 1rem;
}

/* MAIN -> BEST-BONUSES */
.best-bonuses {
	width: 100%;
	padding: 40px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.best-bonuses__container {
	width: min(1200px, 100%);
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.best-bonuses__title {
	font-size: var(--fontSize-32);
	color: var(--color-white);
	width: 100%;
	text-align: center;
}
.best-bonuses__bonus {
	background-color: var(--color-translucent-1);
	padding: 20px;
	border-radius: 10px;
	width: calc((100% - 20px) / 2);
}
.best-bonuses__bonus-icon {
	width: 24px;
	height: 24px;
}
.best-bonuses__bonus-title {
	display: flex;
	gap: 5px;
	color: var(--color-white);
	width: 100%;
	justify-content: center;
	margin-bottom: 1rem;
}
.best-bonuses__bonus-text {
	line-height: 1.3;
	color: var(--color-white);
}

/* MAIN -> FAQ */
.faq {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px;
}
.faq__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
}
.faq__questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__question {
	background-color: var(--color-translucent-1);
	padding: 20px;
	height: auto;
	border-radius: 10px;
	max-height: 64px;
	overflow: hidden;
	transition: max-height 200ms ease-in-out;
}
.faq__question-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 5px;
}
.faq__question-title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
	font-weight: var(--weight-regular);
}
.faq__question-btn {
	color: var(--color-white);
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: all 200ms ease;
	transform: rotate(45deg);
}
.faq__question-body {
	padding-left: 40px;
	padding-right: 20px;
}
.faq__question-text {
	color: var(--color-white);
}

/* MAIN -> ABOUT-CASINO */
.about-casino {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px 0 20px;
	background-color: var(--color-black-3);
}
.about-casino__info-container {
	background-color: var(--color-translucent-1);
	width: 100%;
	height: max-content;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.about-casino__title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.about-casino__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-casino__swiper {
	width: 100%;
	height: max-content;
	margin-bottom: 32px;
}
.about-casino__swiper .swiper-slide {
	padding: 20px 60px;
}
.about-casino__swiper-title-container {
	display: flex;
}
.about-casino__swiper-title {
	color: var(--color-white);
	font-family: sans-serif;
	font-size: var(--fontSize-24);
	margin-bottom: 1rem;
}
.about-casino__swiper-text {
	color: var(--color-white);
	font-family: sans-serif;
	line-height: 1.3;
	margin-bottom: 1rem;
}
.about-casino__swiper-text:last-of-type {
	margin: 0;
}
.about-casino .swiper-button-next::after,
.about-casino .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: 900;
	color: var(--color-white); /* Цвет стрелок */
}
.about-casino .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-casino .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}
.about-casino .swiper-button-next::after,
.about-casino .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: var(--weight-heavy);
	color: var(--color-white); /* Цвет стрелок */
}
.about-casino .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-casino .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}

/* FOOTER */
.footer {
	width: 100%;
	background: var(--color-black-1);
	padding: 40px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.footer__companies {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__company {
	height: 20px;
}
.footer__copyright-container {
	display: flex;
	justify-content: space-between;
	width: 95%;
}
.footer__contact {
	color: var(--color-white);
}
.footer__line {
	height: 1px;
	width: 100%;
	background-color: var(--color-black-2);
}

/* MEDIA */
@media (max-width: 1200px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> BEST-BONUSES */
	/* MAIN -> ABOUT-CASINO */
	/* FOOTER */
}
@media (max-width: 960px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 90%;
	}
	.best-games__game {
		width: calc((90% - 20px) / 2);
	}
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> BEST-BONUSES */
	/* MAIN -> ABOUT-CASINO */
	/* FOOTER */
}
@media (max-width: 720px) {
	/* REUSED STYLES */
	.game-rating {
		gap: 4px;
	}
	.game-rating__stars {
		gap: 4px;
	}
	.game-rating__star {
		width: 20px;
		height: 20px;
	}
	.game-rating__text {
		font-size: var(--fontSize-16);
	}
	/* HEADER */
	.header__container {
		justify-content: flex-start;
		gap: 10px;
	}
	.header__nav-btn {
		display: block;
	}
	.header__nav {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--color-black-1);
		position: absolute;
		top: 100%;
		left: -100%;
		padding: 20px;
		border-top: 1px solid var(--color-white);
	}
	.header__nav-link {
		font-weight: var(--weight-bold);
	}
	.header__languages {
		margin-left: auto;
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games {
		padding: 20px 0 0 0;
	}
	.best-games__description {
		width: 80%;
	}
	.best-games__title {
		gap: 10px;
		font-size: var(--fontSize-24);
	}
	.best-games__pros {
		flex-wrap: wrap;
	}
	.best-games__pro {
		gap: 2px;
		font-size: var(--fontSize-14);
	}
	.best-games__pro:nth-child(2) {
		display: none;
	}
	.best-games__pro-icon {
		width: 32px;
		height: 32px;
	}
	.best-games__text {
		font-size: var(--fontSize-12);
	}
	.best-games__games {
		column-gap: 10px;
	}
	.best-games__game {
		width: calc((80% - 10px) / 2);
		gap: 10px;
	}
	.best-games__game-name {
		font-size: var(--fontSize-20);
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-16);
		font-weight: var(--weight-black);
	}
	.best-games__advantage {
		gap: 0;
	}
	.best-games__advantages {
		gap: 5px;
	}
	.best-games__advantage-text {
		font-size: var(--fontSize-14);
	}
	.best-games__game:nth-child(1) {
		width: 80%;
	}
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> BEST-BONUSES */
	/* MAIN -> ABOUT-CASINO */
	/* FOOTER */
}
@media (max-width: 540px) {
	/* REUSED STYLES */
	.bg-img-1 {
		background-size: 50%;
	}
	.casino-link {
		font-size: var(--fontSize-14);
		padding: 12px 15px;
	}
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 100%;
	}
	.best-games__game:nth-child(1) {
		width: 100%;
	}
	.best-games__game {
		width: calc((100% - 10px) / 2);
		padding: 10px;
	}
	.best-games__game-logo {
		height: 150px;
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-14);
	}
	.best-games__advantage-text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> BEST-BONUSES */
	/* MAIN -> ABOUT-CASINO */
	/* FOOTER */
}
@media (max-width: 420px) {
	/* REUSED STYLES */
	.bg-img-1 {
		background-size: 100%;
	}
	/* HEADER */
	.header__logo {
		font-size: var(--fontSize-24);
	}
	.header__language {
		font-size: var(--fontSize-14);
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games {
		padding: 10px 0 0 0;
	}
	.best-games__description {
		gap: 5px;
	}
	.best-games__img {
		width: 32px;
		height: 32px;
	}
	.best-games__title {
		font-size: var(--fontSize-20);
	}
	.best-games__disclaimer {
		font-size: var(--fontSize-14);
	}
	.best-games__game-logo {
		height: 120px;
	}
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> BEST-BONUSES */
	/* MAIN -> ABOUT-CASINO */
	/* FOOTER */
}
